body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    transform-origin: 0 0;
}


#circle {
    flex-direction: column;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #ff705a;
    cursor: -webkit-grab;
}


#circle2 {
    flex-direction: column;
    top: 400px;
    left: 400px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #ff705a;
    cursor: -webkit-grab;

}